%input#room_id{ type: "hidden", value: @room.id }
%input#user_uuid{ type: "hidden", value: @user.uuid }
%input#game_id{ type: "hidden", value: @game.id }
= render 'rooms/header'

.row.extra-space-top
  .col-md-8
    .panel.panel-success
      .panel-heading
        %b= "##{@game.id} (#{@room.name})"
        = link_to room_path(name: @room.name), class: 'pull-right btn btn-info btn-xs btn-default' do
          %span.glyphicon.glyphicon-arrow-left
          Back to
          %b= @room.name
        - if Rails.env.development? # TODO: remove this
          - if [@game.player1, @game.player2].include? current_user
            = link_to @game, method: :delete, remote: true, data: { confirm: 'Sure?' }, class: 'in-game-remove pull-right btn btn-danger btn-xs btn-default' do
              %span.glyphicon.glyphicon-remove
              Remove
      .panel-body
        ebin
  .col-md-4
    = render partial: 'rooms/chat'
