%input#room_id{ type: "hidden", value: @room.id }
%input#room_name{ type: "hidden", value: @room.name }
%input#user_uuid{ type: "hidden", value: @user.uuid }
%input#game_id{ type: "hidden", value: @game.id }
= render 'rooms/header'

.row.extra-space-top
  .col-md-8
    .panel.panel-success
      .panel-heading
        %b= "##{@game.id} (#{@room.name})"
        = link_to room_path(name: @room.name), class: 'pull-right btn btn-info btn-xs btn-default' do
          %span.glyphicon.glyphicon-arrow-left
          See
          %b= @room.name
        - if [@game.player1, @game.player2].include? current_user
          = link_to leave_game_path(@game), method: :patch, class: 'in-game-remove pull-right btn btn-warning btn-xs btn-default' do
            %span.glyphicon.glyphicon-remove
            Leave
      .panel-body.text-center
        %canvas#gomoku-board
  .col-md-4
    = render partial: 'games/scoreboard', locals: { game: @game }
    = render partial: 'rooms/chat'
