%input#room_id{ type: "hidden", value: @room.id }
%input#user_uuid{ type: "hidden", value: @user.uuid }
= render 'header'

.row.extra-space-top
  .col-md-8
    .panel.panel-primary
      .panel-heading
        Games in
        %b= @room.name
        = link_to room_games_path(room_name: @room.name), method: :post, remote: true, id: 'create_game', class: 'capture-error pull-right btn btn-success btn-xs btn-default' do
          %span.glyphicon.glyphicon-plus
          Create Game
      .panel-body#games
        .row
          = render partial: 'game', collection: @games, locals: { user: current_user }
          .text-center.no-games{ style: "display: #{@games.present? ? 'none' : 'block'}" }
            No games in
            %strong #{@room.name}
            yet. Why not
            %strong
              = link_to room_games_path(room_name: @room.name), method: :post, remote: true do
                create one
            just now?
  .col-md-4
    = render partial: 'chat'
